includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    paths:
        - src
        - packages/core/src
        - packages/form/src
        - packages/ui/src
        - packages/tree/src
        - tests
        - workbench/app
    excludePaths:
        - tests/Fixtures/TypeScript/Unloadable/BrokenExtendsMissingClass.php
    level: 6
